@page
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel

@inject IStringLocalizer<IndexModel> Localizer
@inject IHtmlLocalizer<IndexModel> HtmlLocalizer


<div class="text-center">
    <h1 class="display-4 hero">
        <span class="text-white">
            <blockquote class="small blockquote">
                <i class="bi-activity"></i> @(Localizer["WelcomeTo"]) <i class="bi-activity"></i>
            </blockquote>
            <text class="display-3">Dustech</text><small class="text-dark">.</small><text class="text-dark small">io</text>

        </span>
    </h1>


    @{
        var hexHeight = 150.0;
        var margin = 5.0;
        var hexy = new HexViewComponentModel()
        {
            Content = "House",
            Icon = "house",
            ColorContext = "primary"
        };
        var topSecret = new HexViewComponentModel()
        {
            Content = "Classified",
            Icon = "lock-fill",
            ColorContext = "primary",
            Href = "/classified"
        };
        var elements = new List<HexViewComponentModel>
        {
            topSecret,
            hexy,
            hexy,
            hexy,
            hexy,
            hexy,
            hexy,
        };

        var gridModel = new HexGridViewComponentModel(elements)
        {
            HexHeight = hexHeight,
            Margin = margin,
            MaxRowLength = 3,
            Inverted = true
        };

        var responsiveModel = new HexGridResponsiveViewComponentModel(gridModel);
    }

    <div class="container p-4 mb-3 ">
        @await Component.InvokeAsync("HexGridResponsive", responsiveModel)
    </div>

    <!-- About -->
    <section id="about" class="about py-5 px-3">
        <div class="container">
            <div class="text-center">
                <h4 class="text-uppercase fw-bold text-primary anta">@(Localizer["AboutMe"]) </h4>
                <hr class="w-25 mx-auto"/>
                <h2 class="mb-4">@(Localizer["LetMeIntroduceMyself"]).</h2>
            </div>
            <div class="about-content d-flex gap-3 gap-md-5 align-items-center h-100">
                <img
                    src="https://avatars.githubusercontent.com/u/12004370?v=4"
                    alt=""
                    class="about-img img-fluid rounded-circle glow-border glow-effect"/>
                <p class="lead">
                    @Localizer["WhoAmI"]. <br>

                </p>
            </div>
            <div class="container">
                <p class="text-muted mt-5 mt-md-1 mt-xl-0">
                    @HtmlLocalizer["MyResume"]
                </p>
            </div>
        </div>
    </section>
</div>