@page
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexModel

@inject IStringLocalizer<IndexModel> Localizer
@inject IHtmlLocalizer<IndexModel> HtmlLocalizer


<div class="text-center">
    <h1 class="display-4 hero">
        <span class="text-white">
            <blockquote class="small blockquote">
                <i class="bi-activity"></i> @(Localizer["WelcomeTo"]) <i class="bi-activity"></i>
            </blockquote>
            <text class="display-3">Dustech</text><small class="text-dark">.</small><text class="text-dark small">io</text>

        </span>
    </h1>


    @{
        var hexHeight = 150.0;
        var margin = 5.0;
        var hexy = new HexViewComponentModel()
        {
            Content = "House",
            Icon = "house",
            ColorContext = "primary"
        };
        var elements = new List<HexViewComponentModel>
        {
            hexy,
            hexy,
            hexy,
            hexy,
            hexy,
            hexy,
            hexy,
        };

        var gridModel = new HexGridViewComponentModel(elements)
        {
            HexHeight = hexHeight,
            Margin = margin,
            MaxRowLength = 3,
            Inverted = true
        };

        var responsiveModel = new HexGridResponsiveViewComponentModel(gridModel);
    }

    <div class="container p-4 mb-3 ">
        @await Component.InvokeAsync("HexGridResponsive", responsiveModel)
    </div>

    <!-- About -->
    <section id="about" class="about py-5 px-3">
        <div class="container">
            <div class="text-center">
                <h4 class="text-uppercase fw-bold text-primary anta">@(Localizer["AboutMe"]) </h4>
                <hr class="w-25 mx-auto"/>
                <h2 class="mb-4">@(Localizer["LetMeIntroduceMyself"]).</h2>
            </div>
            <div class="about-content d-flex gap-3 gap-md-5 align-items-center h-100">
                <img
                    src="https://avatars.githubusercontent.com/u/12004370?v=4"
                    alt=""
                    class="about-img img-fluid rounded-circle glow-border glow-effect"/>
                <p class="lead">
                    @Localizer["WhoAmI"]. <br>

                </p>
            </div>
            <div class="container">
                <p class="text-muted mt-5 mt-md-1 mt-xl-0">
                   @HtmlLocalizer["MyResume"]
                </p>
            </div>
        </div>
    </section>

    @*     <div class="glow-effect glass-effect p-3">    *@
    @*     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorem et, illum magni mollitia optio repellendus vel. Accusamus atque cum dolore dolorum eum fugit itaque magni modi nisi numquam odit porro quam quasi, quidem quod rem repellat repudiandae tenetur totam ullam vel velit voluptate! Accusamus, maxime, perferendis. Ad aliquam amet atque cum laborum mollitia, quam quidem temporibus vero voluptatem. Ab aliquam culpa ea eos est fugiat ipsa libero, molestiae necessitatibus nihil odit perspiciatis quibusdam quisquam reprehenderit sapiente tempora tenetur totam veritatis voluptatem voluptatum! Commodi esse harum impedit itaque maxime nisi nobis nostrum rem. Consequuntur dicta ducimus nobis qui quo ut. *@
    @*     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolore doloremque dolores error hic incidunt magni perferendis porro quidem quis recusandae reiciendis rem, reprehenderit sequi sunt, tempora tempore temporibus ullam unde velit. Ab ad debitis eum ex exercitationem harum, iusto laboriosam natus nostrum officiis praesentium quaerat quis rem saepe temporibus tenetur totam velit voluptate. Culpa explicabo facere fugiat in minima minus sapiente veritatis. Culpa deleniti dolorem id omnis suscipit. Adipisci amet deserunt dolor doloribus ducimus magnam, rem repudiandae sequi! Accusamus ex expedita quaerat saepe vero. Culpa excepturi fuga, laudantium minus qui repellat reprehenderit suscipit voluptas voluptates! Aperiam ipsam labore odit officia ullam! Animi aspernatur consequatur deleniti deserunt dignissimos, dolor ex molestiae, nulla quam rem sed tempore. Atque incidunt iste quis sit ullam. Earum excepturi nulla quasi quis repudiandae. Aliquid cum magni voluptates! Accusantium, aperiam beatae eaque enim est illum ipsum modi nihil quas qui, ratione veniam. Autem cum esse velit. Ab accusamus animi assumenda beatae doloribus ducimus ea excepturi magnam, maxime neque nobis non omnis pariatur quasi quibusdam quisquam quos saepe vitae! Animi consectetur dolor enim laboriosam quisquam? Distinctio eaque in nostrum! Accusantium aliquid amet architecto delectus eos error illum magnam mollitia quo ratione similique vel, voluptas voluptatibus? Animi architecto asperiores, aut, consequuntur cumque facere in ipsam nihil officiis perspiciatis quos sit ullam voluptatibus! Ea libero molestias nam porro quasi. Amet aperiam architecto atque deleniti distinctio dolore, dolorem eaque eius eos fugiat harum iste iure labore laboriosam maiores mollitia non nulla odio omnis optio perferendis quaerat quasi quisquam quod repudiandae unde vero vitae voluptate voluptatibus voluptatum! Excepturi, fugiat ipsa laboriosam maxime modi, molestiae mollitia necessitatibus numquam obcaecati recusandae rem tenetur totam! A ab aliquam animi asperiores atque aut blanditiis corporis cumque deserunt dolor dolorem dolorum earum eligendi error esse ex facere facilis fugiat illum in laudantium molestiae mollitia nisi officiis optio pariatur quae, quia quod rerum sapiente sint sit sunt totam ullam unde velit voluptate! Amet dicta doloremque eius error eum excepturi fugit impedit in, inventore ipsum laborum, neque obcaecati odio optio possimus, quas quia quidem rem repellendus reprehenderit repudiandae saepe sapiente sit ut vero voluptates voluptatum? Atque autem culpa deserunt error ex expedita, harum inventore ipsa labore libero magni nam, odio perferendis perspiciatis porro, quam quia sed sit vel voluptas. Debitis dignissimos, illum incidunt iusto laboriosam minima perferendis possimus quia quod voluptas. A alias aperiam, asperiores assumenda blanditiis commodi consectetur dicta dolorum earum eos expedita incidunt iusto laudantium modi nihil nobis officia perferendis possimus quae quia quis quisquam recusandae, reiciendis repellat repellendus rerum sequi sint soluta tenetur ut, veritatis vero vitae voluptatibus. Adipisci consequuntur distinctio ducimus eligendi esse eum expedita, id maiores minus nostrum, possimus praesentium quae recusandae repudiandae rerum sapiente voluptatibus? Animi architecto atque cum ea explicabo facere impedit, incidunt molestias nam nihil repellat repudiandae saepe sequi suscipit tenetur vitae voluptatem voluptates! Architecto corporis cum dignissimos ex ipsam magni nihil obcaecati soluta. Cupiditate distinctio ducimus eaque eum explicabo fugiat labore nihil officia officiis rem! Debitis illo, inventore laudantium nam neque, officia officiis provident quis, reiciendis sit vero vitae. *@
    @* </div> *@
</div>