@using Dustech.App.Domain
@using Microsoft.IdentityModel.Tokens
@model IndexModel 


<div class="container my-4">
    <div class="row gy-3 gx-4">
        @{
            foreach (var u in @Model.FilteredUsers)
            {
#pragma warning disable CA5394
                var randomId = Random.Shared.Next(0, 99);
#pragma warning restore CA5394
                var gender = u.GenderString;

                var imageModel = new PersonImage($"https://randomuser.me/api/portraits/{gender}/{randomId}.jpg");
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="d-flex flex-column" style="height: 100%">
                        <div class=" m-0 p-0 ">
                            <div class="card-background rounded-top-5 @(u.Id == Model.UserId?"glow-effect":"") " >
                                <div class="row row-cols-2 move-upward mb-4">
                                    <div class="p-3 ">
                                        <div class="float-end ">
                                            <partial name="Shared/_PersonImage" model="imageModel"/>
                                        </div>
                                    </div>
                                    <div class="user-info pt-3" style="height: 180px">
                                        <h4 class="card-title text-primary anta h4">@u.FullName</h4>
                                        <h6>@IndexModel.GetCity()</h6>
                                        <small class="d-block mb-3">Hobbies</small>
                                        @foreach (var hobby in IndexModel.GetHobbies())
                                        {
                                            <span class="badge bg-secondary">@hobby</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-0 p-0 flex-grow-1 bg-primary">
                            <div class="card-body-background p-4 m-0">
                                <div class="move-upward text-white">
                                    <blockquote class="blockquote">
                                        <p class="small">
                                            @(u.Quote?.Value ?? "[NO QUOTE]")
                                        </p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
