@page
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<IndexModel> Localizer


@section BeforeMain {
    <partial name="Shared/_Spacer"/>
}

@{
    var carouselData = IndexModel.GetCarouselViewModels.ToArray();
}

<section class="container">
    <div class="row">
        <div class="col-12 col-lg-10 col-xl-8 m-auto">
            <p class="h1 text-center anta text-primary">@Localizer["Farewell"]</p>
            <div id="carouselFarewell" class="carousel slide mt-4">
                <div class="carousel-indicators">

                    @{
                        @for (var index = 0; index < carouselData.Length; index++)
                        {
                            var slide = carouselData[index];
                            <button type="button" data-bs-target="#carouselFarewell" data-bs-slide-to="@index" class="@slide.Active"></button>
                        }
                    }
                </div>
                <div class="carousel-inner rounded-5">

                    @{
                        foreach (var slide in carouselData)
                        {
                            <div class="carousel-item @slide.Active">
                                <img src="@slide.Path" class="d-block w-100" alt="Farewell">
                                <div class="carousel-caption  bg-@slide.Context text-dark p-2 p-sm-3 p-md-4 ">
                                    <h4 class="d-block mb-1">
                                        <strong>@slide.Title</strong>
                                    </h4>
                                    <h6 class="d-none d-sm-block">@slide.Description</h6>
                                </div>
                            </div>
                        }
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselFarewell" data-bs-slide="prev">
                    <span class="display-2 text-dark" aria-hidden="true">
                        <i class="bi bi-chevron-double-left"></i>
                    </span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselFarewell" data-bs-slide="next">
                    <span class="display-2 text-dark" aria-hidden="true">
                        <i class="bi bi-chevron-double-right"></i>
                    </span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="container mt-4">
            <div class="display-5 text-center">
                @Localizer["ThankYou"]
                <p class="text-info h6">@Localizer["AlphabeticalOrder"]</p>
            </div>
        </div>

        <!-- User cards -->

        <partial name="_UserCards" model="Model"/>
    </div>


</section>