@page
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<IndexModel> Localizer


@section BeforeMain {
    <partial name="Shared/_Spacer"/>
}

@{
    var carouselData = IndexModel.GetCarouselViewModels.ToArray();
}

<section class="container">
    <div class="row">
        <div class="col-8 m-auto">
            <p class="h1 text-center anta text-primary">@Localizer["Farewell"]</p>
            <div id="carouselFarewell" class="carousel slide mt-4">
                <div class="carousel-indicators">

                    @{
                        @for (var index = 0; index < carouselData.Length; index++)
                        {
                            var slide = carouselData[index];
                            <button type="button" data-bs-target="#carouselFarewell" data-bs-slide-to="@index" class="@slide.Active"></button>
                        }
                    }
                    <button type="button" data-bs-target="#carouselFarewell" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselFarewell" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselFarewell" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner rounded-5">

                    @{
                        foreach (var slide in carouselData)
                        {
                            <div class="carousel-item @slide.Active">
                                <img src="@slide.Path" class="d-block w-100" alt="Farewell">
                                <div class="carousel-caption  bg-@slide.Context text-dark ">
                                    <small class="d-block">
                                        <strong>@slide.Title</strong>
                                    </small>
                                    <small class="d-none d-md-block">@slide.Description</small>
                                </div>
                            </div>
                        }
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselFarewell" data-bs-slide="prev">
                    <span class="display-2 text-dark" aria-hidden="true">
                        <i class="bi bi-chevron-double-left"></i>
                    </span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselFarewell" data-bs-slide="next">
                    <span class="display-2 text-dark" aria-hidden="true">
                        <i class="bi bi-chevron-double-right"></i>
                    </span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="container mt-4">
            <div class="display-5 text-center">Un saluto speciale</div>
        </div>
        <div class="container mt-4">
            <div class="row row-cols-1 row-cols-md-2 gy-4">
                @{
                    foreach (var u in @Model.FilteredUsers)
                    {
#pragma warning disable CA5394
                        var randomId = Random.Shared.Next(0, 99);
#pragma warning restore CA5394
                        var gender = u.Gender.ToLower() == "male" ? "men" : "women";

                        var imageModel = new PersonImage($"https://randomuser.me/api/portraits/{gender}/{randomId}.jpg");

                        <div class="card px-0 rounded-5">
                            <div class="card-body">
                                <div class="row row-cols-2">
                                    <div>
                                        <partial name="Shared/_PersonImage" model="imageModel"/>
                                    </div>
                                    <div class="user-info">
                                        <h4 class="card-title">@u.Name</h4>
                                        <h6>@IndexModel.GetCity()</h6>
                                        @foreach (var hobby in IndexModel.GetHobbies())
                                        {
                                            <span class="badge bg-secondary">@hobby</span>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="container text-center mt-3 bg-info fw-bold p-4 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolore ipsa necessitatibus pariatur, recusandae reiciendis vero. At beatae debitis deserunt dignissimos error, exercitationem explicabo facilis id laudantium maiores neque nisi, odio pariatur quidem repellendus, soluta suscipit veritatis? Consectetur deleniti dolorem ipsum libero repellat similique ullam. Dignissimos illo iste laborum quod!</div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>